In [1]:
import pandas as pd
pd.__version__

'0.22.0'

Pandas主要的两个数据结构：
    1. DataFrame, 类似于关系型数据表格，包含多个行和已命名的类
    2. Series, 单一列。DataFrame中包含一个或多个Series，每一个Series均有一个名称

In [13]:
pd.Series(['ShenZhen', 'XiaMen', 'ShangHai'])

0    ShenZhen
1      XiaMen
2    ShangHai
dtype: object

In [18]:
city_names = pd.Series(['ShenZhen', 'GuangZhou', 'Shanghai'])
population = pd.Series([12312324, 23213123, 54545454])

pd.DataFrame({'City name': city_names, 'Population': population})

   City name  Population
0   ShenZhen    12312324
1  GuangZhou    23213123
2   Shanghai    54545454

加载CSV文件, pd.read_csv()

In [4]:
california_housing_dataframe = pd.read_csv("https://storage.googleapis.com/mledu-datasets/california_housing_train.csv", sep=",")
california_housing_dataframe.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

显示DataFrame的前几个记录

In [20]:
california_housing_dataframe.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

绘制图表

In [5]:
california_housing_dataframe.hist('housing_median_age')

NameError: name '_converter' is not defined